.photo{
    height: 300px;
    width: 250px;
    object-fit: cover;

    margin-right: 50px;

    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,.2);
}

.resume{
    max-width: 800px;
}

.content__resume{
    margin-top: 50px;
}

.contacts__item{
    margin-bottom: 10px;

    font-size: 20px;
    color: #8FDDC1;
}

.contacts__text{
    margin-left: 15px;

    font-size: 18px;
    color: #000;
}

.social__links{
    max-width: 500px;
}

.social__link{
    margin-right: 15px;
    border: 1px solid #8FDDC1;
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 15px;
}

.social__link *{
    color: #000;
}