.skill__list{
    max-width: 500px;
}

.skill{
    padding: 8px 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    border-radius: 10px;
    color: #000000;
    background: #8FDDC1;
}

.skill__text{
    margin-right: 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.skill__text__no_btn{
    margin-right: 0;
}

.skill__btn{
    font-size: 24px;
    cursor: pointer;
}

.skill__form{
    margin-bottom: 20px;
}

.skill__add{
    width: 50px;
    height: 50px;
}

.skill__add *{
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0;
}

.skill__input{
    margin-right: 15px;
    width: 100%;
}

.skill__input *{
    width: 100%;
    height: 50px;
    margin: 0;
}